name: CI Database

on: [pull_request]

permissions:
  contents: read

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: "1.25.x"

      - name: Configure private modules
        env:
          GH_TOKEN: ${{ secrets.DENTALSYS_GH_TOKEN }}
        run: |
          go env -w GOPRIVATE=github.com/DentalSys/*
          go env -w GONOSUMDB=github.com/DentalSys/*
          git config --global url."https://${GH_TOKEN}@github.com/".insteadOf "https://github.com/"

      - name: Download deps
        run: go mod download

      - name: Test
        run: go test ./...

      - name: Vet
        run: go vet ./...
